mixin outputRating(rating)
  - for (var i=1;i<=rating;i++)
    span.glyphicon.glyphicon-star
  - for (var i=rating;i<5;i++)
    span.glyphicon.glyphicon-star-empty

mixin formatDate(dateString)
  -let date = new Date(dateString);
  -let year = date.getFullYear();
  -let month = date.getMonth()+1;
  -let day = date.getDate();
  -let output = year+'.'+month+'.'+day;
  =output